@model List<UniShare.Models.Subject>

<h2>Minhas Disciplinas</h2>

<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Curso</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var s in Model)
        {
            <tr>
                <td>@s.Name</td>
                <td>@s.Course?.Name</td>
                <td>
                    <a asp-action="Details" asp-route-id="@s.Id" class="btn btn-sm btn-outline-info">Ver</a>
                </td>
            </tr>
        }
    </tbody>
</table>
